@import '/src/styles/theme.scss';
.card {
    border: none;
    box-shadow: none;
    text-shadow: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 16px;
    font-family: 'sans serif';
    text-align: justify;
    text-justify: inter-word;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    color: #333;
    font-family: 'Gowun Dodum';
}

.root {
    border: none;
    box-shadow: none;
}
