@import "src/styles/theme.scss";

.card {
    box-shadow: $shadow-2;
    max-width: 450px;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-width: 460px;
    min-height: 600px;
}

.cardSmall {
    box-shadow: $shadow-2;
    max-width: 450px;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-width: 350px;
    min-height: 400px;
}

.img {
    height: 250px;
    object-fit: cover;
    object-position: center 65%;
    width: 100%;
    padding: 0.25rem;
}

.noDecoration {
    text-decoration: none !important;
}

.showFocus:focus span {
    color: $secondary-dark;
}

.title {
    cursor: pointer;
    color: $black;

    transition: cubic-bezier(1, 0, 0, 1) 0.2s;
}

.title:hover {
    color: $secondary-dark;
}

.title:active {
    color: $primary-dark;
}
.dateandreading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.link {
    transition: cubic-bezier(1, 0, 0, 1) 0.2s;
    cursor: pointer;
    color: $primary-main;
    font-weight: 500;
}

.link:hover {
    color: $primary-dark;
}


.snippet {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
